
/** buttons & links **/

button,
.button,
a.button, /* extra specificity to override a */
input[type="submit"],
input[type="reset"],
input[type="button"],
label[type="button"] {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    var(--accent) 0,
    var(--accent) 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow:
    rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,CX
    rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: var(--accent-text);
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition:
    box-shadow 0.15s,
    transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

button:focus,
a.button:focus,
.button:focus-visible,
button:focus-visible:where(:enabled),
input:enabled:focus-visible:where(
    [type="submit"],
    [type="reset"],
    [type="button"]
  ) {
  box-shadow:
    var(--accent) 0 0 0 1.5px inset,
    rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    var(--accent-hover) 0 -3px 0 inset;
}

button:enabled:hover,
.button:not([aria-disabled="true"]):hover,
input[type="submit"]:enabled:hover,
input[type="reset"]:enabled:hover,
input[type="button"]:enabled:hover,
label[type="button"]:hover {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    var(--accent) 0,
    var(--accent-hover) 100%
  );
  box-shadow:
    rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    var(--accent) 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active,
.button:active,
a.button:active,
a.button:link:active,
input[type="submit"]:active,
input[type="reset"]:active,
label[type="button"]:active {
  box-shadow: var(--accent) 0 3px 7px inset;
  transform: translateY(2px);
}

button.current,
.button.current,
a.button.current,
a.button:link.current {
  box-shadow: var(--accent) 0 3px 7px inset;
}