.layout__container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1.5rem;
}

.layout__main__container {
  width: '100%';
}


@media(max-width: 768px) {
  .layout__main__container__inner {
    padding-top: 1.5rem;
  }
}

