.layout__container {
  display: flex;
  flex-direction: row;
}

.layout__main__container {
  flex: 1;
}

.layout__main__container__inner {
  padding: 1.5rem;
  padding-top: 0px;
}

@media(max-width: 768px) {
  .layout__main__container__inner {
    padding-top: 1.5rem;
  }
}

