

* {
    text-transform: uppercase;
}

.button--github {
    top: 0.15em;
}

.icon { 
    display: block;
    position: relative;

    height: 0.8em;
    width: 0.8em;

    stroke-width: 0;
    margin:0;
    top: .15em;
    bottom:0; 
    padding:0;

    stroke: currentColor;
    fill: currentColor;
}

