/* All the workflow styles are using a brutalist type design */

.workflow__process {
  background-color: var(--white);
  color: var(--black);
  border-radius: 0px;
  border: solid 3px var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3rem;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  height: 3rem;
  width: 9rem;
}

.workflow__process--pending {
  border-width: 2px;
  background-color: var(--default-accent-bg);
}

.workflow__process--success {
  border-width: 2px;
  background-color: #00aa00;
}

.workflow__process--active::after {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--accent);
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  animation: rotateAnimation 0.5s ease-in-out infinite alternate;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

.workflow__process__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0.4rem;
  left: 0.4rem;
  background-color: var(--black);
  z-index: -1;
}

.workflow__process__background--pending {
  top: 0.2rem;
  left: 0.2rem;
}

.workflow__start {
  background-color: var(--black);
  color: var(--black);
  border: none;
  border-radius: 100%;
  padding: 0;
  margin: 0;
  height: 3rem;
  width: 3rem;
}

.workflow__start__background {
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  top: 0.4rem;
  left: 0.4rem;
  background-color: var(--default-accent-bg);
  z-index: -1;
}
