.page-title {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 100%;
}

.page-title__inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  height: auto;
  gap: 1rem;
}

.page-title .page-title__icon svg {
  width: 100px !important;
  height: 100px !important;
}


@media screen and (max-width: 768px) {

  .page-title .page-title__icon {
    width: unset;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .page-title {
    height: auto;
    margin-bottom: 1rem;
  }
}