/* theme defaults */
:root,
::backdrop {
  --headings-font: "Inter", sans-serif;
  --body-font: "Inter", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  /* --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif; */

  --default-bg: #f5f5f3;
  --default-accent-bg: rgba(255, 255, 255, 0.5);
  --default-text: #000;
  --default-text-light: #585858;
  --default-text-shadow-color: rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark) {
  :root,
  ::backdrop {
    color-scheme: dark;
    --default-bg: #1a1a1a;
    --default-accent-bg: rgba(0, 0, 0, 0.5);
    --default-text: #f5f5f5;
    --default-text-light: rgba(255, 255, 255, 0.5);
    --default-text-shadow-color: rgba(255, 255, 255, 0.3);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings-font);
}

/* Global variables. */
.dark {
  --theme-bg: #1a1a1a;
  --theme-accent-bg: rgba(0, 0, 0, 0.5);
  --theme-text: #f5f5f5;
  --theme-text-light: rgba(255, 255, 255, 0.5);
  --theme-text-shadow-color: rgba(255, 255, 255, 0.3);
}

.light {
  --theme-bg: #f5f5f3;
  --theme-accent-bg: rgba(255, 255, 255, 0.5);
  --theme-text: #000;
  --theme-text-light: #585858;
  --theme-text-shadow-color: rgba(0, 0, 0, 0.3);
}

:root,
::backdrop {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --standard-border-radius: 5px;

  /* theme variables */
  --bg: var(--theme-bg, var(--default-bg));
  --accent-bg: var(--theme-accent-bg, var(--default-accent-bg));
  --text: var(--theme-text, var(--default-text));
  --text-light: var(--theme-text-light, var(--default-text-light));
  --text-shadow-color: var(
    --theme-text-shadow-color,
    var(--default-text-shadow-color)
  );
  --accent-text: var(--theme-bg, var(--default-bg));
  --border: #3d3d3d;
  --accent: rgb(234, 120, 169);
  --accent-hover: rgba(234, 120, 169, 0.3);
  --visited: var(--accent);
  --code: rgb(107, 118, 221);
  --preformatted: #444;
  --marked: rgb(229 68 207);
  --disabled: #bbb;
}

/* Add a bit of transparency so light media isn't so glaring in dark mode */
.dark img,
.dark video {
  opacity: 0.8;
}

.light img,
.light video {
  opacity: 1;
}

body {
  /* Center the body content on large screens */
  grid-template-columns: 0.5fr minmax(auto, 1280px) 0.5fr;
  padding-bottom: 3rem; /* accommodate height of mobile menu */
}

h1 {
  margin-block-start: 0;
}

/* On smaller screens, we just let the body stretch all the way */
@media (max-width: 1024px) {
  body {
    grid-template-columns: 0fr 1fr 0fr;
  }
}

aside {
  position: sticky;
  top: 1rem;
}

@media screen and (max-width: 768px) {
  aside {
    position: unset;
    float: none;
    width: 100%;
    margin-inline-start: 0;
  }
}

table {
  width: 100%;
}

a:focus {
  color: var(--visited);
}
