/* Global variables. */
:root,
::backdrop {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --standard-border-radius: 5px;

  --bg: #F5F5F3;
  --accent-bg: rgba(255, 255, 255, 0.5);
  --text: #000;
  --text-light: #585858;
  --border: #3d3d3d;
  --accent: rgb(234, 120, 169);
  --accent-text: var(--bg);
  --code: rgb(107, 118, 221);
  --preformatted: #444;
  --marked: rgb(229 68 207);
  --disabled: #bbb;
  --visited: var(--text);
  --bg-image: url(/images/crinkly_paper.svg)
}



/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root,
  ::backdrop {
    color-scheme: dark;
    --bg: #1a1a1a;
    --accent-bg: rgba(0, 0, 0, 0.5);
    --text: #f5f5f5;
    --bg-image: url(/images/crinkly_paper_dark.svg)
  }
  /* Add a bit of transparency so light media isn't so glaring in dark mode */
  img,
  video {
    opacity: 0.8;
  }



}

body {
  background-color: var(--bg);
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
}


.display-flex {
  display: flex;
  justify-items: center;
  justify-content: center;
}

.display-flex-row {
  flex-direction: row;
}

.column-gap-xs {
  column-gap: 0.5em;
  row-gap: 0;
}
